<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>一只写代码的猫-blog</title>
    <link rel="stylesheet" href="./css/index.css">
    <link rel="stylesheet" href="./css/globalStyle.css">
</head>

<body>
    <div id="app">
        <header class="header">
            <div class="container">
                <div class="left">
                    <div class="text">
                        <h1>{{header.title}}</h1>
                    </div>

                </div>
                <div class="right">
                    <div class="nav">
                        <ul v-for="item in header.navList">
                            <li><a :href="item.link">{{item.label}}</a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </header>
        <div class="banner">

            <div class="container">
                <section class="bg"></section>
                <div class="left">
                    <div class="text">
                        <h1>{{banner.title}}</h1>
                        <p>{{ banner.introduction}}</p>
                    </div>
                </div>
                <div class="right">
                    <div class="logo">
                        <img src="./img/logo.png">
                    </div>
                </div>
            </div>
        </div>

        <div class="main">
            <div class="container">
                <ol class="repo-list">
                    <li class="repo-item" v-for="item in textList">
                        <h3 class="repo-item-title">
                            <a :href="item.link">{{item.title}}</a>
                        </h3>
                        <p class="repo-item-description">{{item.decription}}
                        </p>
                        <p class="repo-item-meta">
                            <span>{{ item.time }}</span>
                        </p>
                    </li>
                </ol>
            </div>
        </div>

        <footer class="foot">
            <div class="container">
                <img src="./img/GitHub-Mark-64px.png" alt="">
                <small>
                    © 2022 Codecat
                </small>
            </div>
        </footer>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
<script src="./js/index_vue.js"></script>

</html>